<div *ngIf="!isEmployeeLoggedIn && !isAdminLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Sistema de Gerenciador de Tarefas</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/signup" routerLinkActive="active">Cadastro</button>
    <button mat-button routerLink="/login" routerLinkActive="active">Entrar</button>
  </mat-toolbar>
</div>
<div *ngIf="isAdminLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Admin</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</button>
    <button mat-button (click)="logout()" routerLinkActive="active">Sair</button>
  </mat-toolbar>
</div>
<div *ngIf="!isEmployeeLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Empregado</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/employee/dashboard" routerLinkActive="active">Dashboard</button>
    <button mat-button (click)="logout()" routerLinkActive="active">Sair</button>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>
